@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

.greeting__figcaption {
    position: absolute;
    bottom: 4vh;
    color:aliceblue;
    text-align: center;
    margin: 0 3vw;
    color: rgb(255, 249, 215) !important;
    font-weight: bold !important;
    align-items: center !important;
    width: 100%;
    
}
.greeting-img {
    width: 100%;
    height: auto;
    position: relative;
}
.hello {
    font-size: 4vw;
    font-family: 'Noto Serif', serif;
}
.Derek {
    font-size: 10vw;
    font-weight: bold;
    font-family: 'Noto Serif', serif;
}
.se {
    font-size: 5vw;
    font-family: 'Noto Serif', serif;
}
