
.main{
    position: absolute;
    color: rgb(255, 249, 215) !important;
    font-family: 'Noto Serif', serif;
}
.main0 h5 {
    text-decoration: none;    
}
.main0 h5:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: gold !important;
}

@media screen and (max-width: 500px ) {
    .main0 {
        margin-left: 15px;
        margin-right: auto;
        padding-left: 0 !important;
        padding-right: 0 !important;
        font-size: 10px !important;
    }
    
}