.prof-master {
    background-image: linear-gradient(to bottom, rgba(6, 14, 28, 0.9), rgba(13, 21, 35, 0.8) );
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: rgb(255,249,215);
    font-family: 'Noto Serif', serif;
}
.prof-prof{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 25px;
    margin-top: 30px;
    margin-bottom: 70px;
}
.skills {
    display: flex;
    flex-direction: column;
    margin-left: 55px;
    margin-right: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.bach {
    font-style: italic;
}

.one-skill {

    box-shadow: rgba(252, 252, 252, 0.95) 0px 2px 5px -1px, rgba(255, 255, 255, 0.95) 0px 1px 3px -1px;
    width: 220px;
    height: 60px;
    margin-left: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.icon_img {
    margin-left: 5px;
}
.skill-title {
    margin-left: 30px;

}
.mbti-link:hover {
    transform: scale(1.05);
    color: gold !important;
}
.email-link:hover {
    transform: scale(1.05);
    color: gold !important;
}
.linkedin-link:hover {
    transform: scale(1.05);
    color: gold !important;
}
.github-link:hover {
    transform: scale(1.05);
    color: gold !important;
}

@media screen and (max-width: 700px) {
    .prof-master {
        background-image: linear-gradient(to bottom, rgba(6, 14, 28, 0.9), rgba(13, 21, 35, 0.8) );
        display: flex;
        flex-direction: column;
    }
    .skills-list {
        display: flex;
        flex-direction: row;
    }
    .prof-prof {
        margin-bottom: 30px;
    }

    
}