.proj-master {
    background-image: linear-gradient(to bottom, rgba(13, 21, 35, 0.8), rgba(4, 22, 61, 0.8) );
    color: rgb(255,249,215);
    font-family: 'Noto Serif', serif;
}


.proj-card {
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}


.proj-img {
    border-radius: 8px;
}


.proj-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.proj-card{
    position: relative;
    overflow: hidden;
}
.proj-card:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 220%;
    background: rgba(0, 0, 0, 0.5);
    top: -50%;
    left: -100%;
    z-index: 1;
    transform-origin: center top 0;
    transition: 0.5s;
}
.proj-card:hover:before{
    left: 0;

}
.proj-img {
    width: 100%;
    height: auto;
}
.proj-text {
    width: 100%;
    padding: 0 20px;
    position: absolute;
    top: -80%;
    color: antiquewhite;
    left: 0;
    z-index: 2;
    transition: 1.1s;
}
.proj-card:hover .proj-text{
    top: 30px;

}
.proj-card:hover .proj-img{
    transform: scale(1.1);

}

.proj-map{
    display: flex;
    flex-direction: row;    
}

.proj-box {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 500px) {
    .proj-img {
        width: 200px !important;
        height: 200px !important;

    }
}